<div class="divide70"></div>
<div class="assan-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading">
            <h2>Awesome <strong>features</strong></h2>
            <span class="center-line"></span>
        </div>
      </div>                   
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms">
          <div class="services-box-icon">
              <i class="fa fa-image"></i>
          </div><!--services icon-->
          <div class="services-box-info">
            <h4>Sliders</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
            </p>
          </div>
        </div><!--services box-->
      </div><!--services col-->
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="services-box-icon">
              <i class="fa fa-envelope"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>Advanced Forms</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
        </div><!--services box-->
      </div><!--services col-->
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="services-box-icon">
              <i class="fa fa-users"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>Customer Support</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
        </div><!--services box-->
      </div><!--services col-->

      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
          <div class="services-box-icon">
              <i class="fa fa-crop"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>Pixel perfect design</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
        </div><!--services box-->
      </div><!--services col-->
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
          <div class="services-box-icon">
              <i class="fa fa-twitter"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>bootstrap 3.3.4</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
        </div><!--services box-->
      </div><!--services col-->
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="600ms">
          <div class="services-box-icon">
              <i class="fa fa-flag"></i>
          </div><!--services icon-->
          <div class="services-box-info">
            <h4>Font Awesome icons</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.

            </p>

          </div>
        </div><!--services box-->
      </div><!--services col-->
    </div><!--services row-->
  </div>
</div><!--assan features-->