<div class="divide70"></div>
<div class="assan-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading">
            <h2>Latest <strong>nodes</strong></h2>
            <span class="center-line"></span>
        </div>
      </div>                   
    </div>
    <div class="row">
      <% @initiatives.each do |initiative| %>
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms">
          <div class="services-box-icon">
              <i class="fa fa-image"></i>
          </div><!--services icon-->
          <div class="services-box-info">
            <h4><%= initiative.name %></h4>
            <p>
                <%= initiative.description %> <%= link_to "Read more", initiative_path(initiative) %>
            </p>
          </div>
        </div><!--services box-->
      </div><!--services col-->
      <% end %>
    </div><!--services row-->
  </div>
</div><!--assan features-->