<div class="divide70"></div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="center-heading">
              <h2><strong>latest</strong> news</h2>
              <span class="center-line"></span>
          </div>
      </div>                   
  </div>
  <div class="row">
    <div class="col-sm-4 margin30">
      <div>
        <a href="#">
            <div class="item-img-wrap">
                <img src="img/img-8.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                    <span></span>
                </div>
            </div>                       
        </a><!--news link--> 
        <div class="news-desc">
            <span>Sports</span>
            <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
            <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
        </div><!--news desc-->
      </div> 
    </div><!--news col-->
    <div class="col-sm-4 margin30">
      <div>
        <a href="#">
            <div class="item-img-wrap">
                <img src="img/img-3.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                    <span></span>
                </div>
            </div>                       
        </a><!--news link--> 
        <div class="news-desc">
            <span>Sports</span>
            <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
            <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
        </div><!--news desc-->
      </div> 
    </div><!--news col-->
    <div class="col-sm-4 margin30">
      <div>
        <a href="#">
            <div class="item-img-wrap">
                <img src="img/img-6.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                    <span></span>
                </div>
            </div>                       
        </a><!--news link--> 
        <div class="news-desc">
            <span>Sports</span>
            <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
            <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
        </div><!--news desc-->
      </div> 
    </div><!--news col-->
  </div>
</div><!--latest news-->