<div class="divide80"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="center-heading">
        <h2>Recent <strong>Projects</strong></h2>
        <span class="center-line"></span>
      </div>
    </div>                   
  </div>
</div>
<div class="container">
  <div class="cube-masonry">

    <div id="filters-container" class="cbp-l-filters-alignCenter">
      <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
          All <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".identity" class="cbp-filter-item">
          Identity <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".web-design" class="cbp-filter-item">
          Web Design <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".graphic" class="cbp-filter-item">
          Graphic <div class="cbp-filter-counter"></div>
      </div>
      <div data-filter=".graphic, .identity" class="cbp-filter-item">
          Web Design & Identity <div class="cbp-filter-counter"></div>
      </div>
    </div>

    <div id="masnory-container" class="cbp">
      <div class="cbp-item identity">
        <a class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu" href="img/mas-1.jpg">
          <div class="cbp-caption-defaultWrap">
              <img src="img/mas-1.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Easy Note</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item web-design">
          <a class="cbp-caption cbp-lightbox" data-title="The Gang Blue<br>by Cosmin Capitanu"
             href="img/img-1.jpg">
              <div class="cbp-caption-defaultWrap">
                  <img src="img/img-1.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <div class="cbp-l-caption-title">The Gang Blue</div>
                          <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="cbp-item graphic identity">
          <a class="cbp-caption cbp-lightbox" data-title="Tiger<br>by Cosmin Capitanu"
             href="img/img-2.jpg">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-2.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Tiger</div>
                      <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                  </div>
              </div>
            </div>
          </a>
      </div>
      <div class="cbp-item graphic">
        <a class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu"
           href="img/mas-2.jpg">
          <div class="cbp-caption-defaultWrap">
              <img src="img/mas-2.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item identity">
          <a class="cbp-caption cbp-lightbox" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu"
             href="img/mas-2.jpg">
              <div class="cbp-caption-defaultWrap">
                  <img src="img/mas-1.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                          <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="cbp-item graphic">
          <a class="cbp-caption cbp-lightbox" data-title="Remind~Me More<br>by Tiberiu Neamu" href="img/img-3.jpg">
              <div class="cbp-caption-defaultWrap">
                  <img src="img/img-3.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <div class="cbp-l-caption-title">Remind~Me More</div>
                          <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="cbp-item web-design">
          <a class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu" href="img/img-4.jpg">
              <div class="cbp-caption-defaultWrap">
                  <img src="img/img-4.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <div class="cbp-l-caption-title">Workout Buddy</div>
                          <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="cbp-item identity">
          <a class="cbp-caption cbp-lightbox" data-title="Volume Knob<br>by Paul Flavius Nechita" href="http://vimeo.com/156783#">
              <div class="cbp-caption-defaultWrap">
                  <img src="img/img-5.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <div class="cbp-l-caption-title">Volume Knob</div>
                          <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="cbp-item identity">
          <a class="cbp-caption cbp-lightbox" data-title="Ski * Buddy<br>by Tiberiu Neamu" href="img/mas-2.jpg">
              <div class="cbp-caption-defaultWrap">
                  <img src="img/mas-1.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <div class="cbp-l-caption-title">Ski * Buddy</div>
                          <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="cbp-item web-design graphic">
          <a class="cbp-caption cbp-lightbox" data-title="Virtualization Icon<br>by Paul Flavius Nechita"
             href="https://www.youtube.com/watch?v=dChhzNGHgnA">
            <div class="cbp-caption-defaultWrap">
                <img src="img/img-6.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Virtualization Icon</div>
                    <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div>
              </div>
            </div>
          </a>
      </div>
      <div class="cbp-item web-design graphic">
        <a class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Paul Flavius Nechita"
           href="img/img-7.jpg">
          <div class="cbp-caption-defaultWrap">
              <img src="img/img-7.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">World Clock Widget</div>
                <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="cbp-item web-design graphic">
        <a class="cbp-caption cbp-lightbox" data-title="Sickpuppy<br>by Cosmin Capitanu" href="img/img-8.jpg">
          <div class="cbp-caption-defaultWrap">
              <img src="img/img-8.jpg" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Sickpuppy</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div><!--.cube masonry-->
</div>
<div class="divide50"></div>
<div class="text-center">
    <a href="masonry-portfolio-4.html" class="btn btn-theme-dark btn-lg">View All Work</a>
</div>