<div class="fullwidthbanner">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Powerful Theme">
          <!-- MAIN IMAGE -->
          <img src="img/bg-3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <div class="caption title-2 sft"
               data-x="50"
               data-y="160"
               data-speed="1000"
               data-start="1000"
               data-easing="easeOutExpo">
              Powerful multi-purpose <br>
              business template
          </div>
          <div class="caption text sfl"
               data-x="50"
               data-y="310"
               data-speed="1000"
               data-start="1800"
               data-easing="easeOutExpo">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>
              lectus. Cras porta nisl at tincidunt tincidunt.  
          </div>
          <div class="caption sfb rev-buttons tp-resizeme"
               data-x="50"
               data-y="380"
               data-speed="500"
               data-start="1800"
               data-easing="Sine.easeOut">
              <a href="#" class="btn btn-theme-bg btn-lg">Purchase Now</a>
          </div>

          <div class="caption sfb rev-buttons tp-resizeme"
               data-x="250"
               data-y="380"
               data-speed="500"
               data-start="2100"
               data-easing="Sine.easeOut">
              <a href="#" class="btn border-white btn-lg">View features</a>
          </div>

      </li>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Unique Theme">
          <!-- MAIN IMAGE -->
          <img src="img/bg-4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">




          <div class="caption text-center-top sft"
               data-x="center"
               data-y="210"
               data-speed="1000"
               data-start="1400"
               data-easing="easeOutExpo">
              Feel the difference
          </div>

          <div class="caption text-center-btm sfr text-center"
               data-x="center"
               data-y="265"
               data-speed="1000"
               data-start="1600"
               data-easing="easeOutExpo">

              Assan is a creative multipurpose theme, you can use it for<br>  business, corporate, portfolio, shop events, personal and more...

          </div>
          <div class="caption sfb rev-buttons tp-resizeme"
               data-x="center"
               data-y="380"
               data-speed="500"
               data-start="1800"
               data-easing="Sine.easeOut">
              <a href="#" class="btn border-white btn-lg">View features</a>
          </div>
      </li>
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Multipurpose">
          <!-- MAIN IMAGE -->
          <img src="img/bg-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYER NR. 1 -->
          <div class="caption left-tile-text sfr tp-resizeme"
               data-x="40"
               data-y="110" 
               data-speed="600"
               data-start="1200"
               data-end="9400"
               data-endspeed="600">Unlimited layouts
          </div>

          <!-- LAYER NR. 2 -->
          <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
               data-x="40"
               data-y="170" 
               data-speed="600"
               data-start="1600"
               data-end="9400"
               data-endspeed="600"><i class="fa fa-check"></i>
          </div>

          <!-- LAYER NR. 3 -->
          <div class="caption modern_big_redbg sfb medium tp-resizeme"
               data-x="90"
               data-y="170" 
               data-speed="600"
               data-start="1600"
               data-end="9400"
               data-endspeed="600">Fully Responsive
          </div>

          <!-- LAYER NR. 4 -->
          <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
               data-x="40"
               data-y="220" 
               data-speed="600"
               data-start="1800"
               data-end="9400"
               data-endspeed="600"><i class="fa fa-check"></i>
          </div>

          <!-- LAYER NR. 5 -->
          <div class="caption modern_big_redbg sfb medium tp-resizeme"
               data-x="90"
               data-y="220" 
               data-speed="600"
               data-start="1800"
               data-end="9400"
               data-endspeed="600">80+ HTML5 Valid Pages
          </div>

          <!-- LAYER NR. 6 -->
          <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
               data-x="40"
               data-y="270" 
               data-speed="600"
               data-start="2000"
               data-end="9400"
               data-endspeed="600"><i class="fa fa-check"></i>
          </div>

          <!-- LAYER NR. 7 -->
          <div class="caption modern_big_redbg sfb medium tp-resizeme"
               data-x="90"
               data-y="270" 
               data-speed="600"
               data-start="2000"
               data-end="9400"
               data-endspeed="600">Slider revolution
          </div>

          <!-- LAYER NR. 8 -->
          <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
               data-x="40"
               data-y="320" 
               data-speed="600"
               data-start="2200"
               data-end="9400"
               data-endspeed="600"><i class="fa fa-check"></i>
          </div>

          <!-- LAYER NR. 9 -->
          <div class="caption modern_big_redbg sfb medium tp-resizeme"
               data-x="90"
               data-y="320" 
               data-speed="600"
               data-start="2200"
               data-end="9400"
               data-endspeed="600">Clean & Commented Code
          </div>

          <!-- LAYER NR. 10 -->
          <div class="caption modern_big_redbg sfb medium tp-resizeme"
               data-x="40"
               data-y="370" 
               data-speed="600"
               data-start="2400"
               data-end="9400"
               data-endspeed="600">And Much More...
          </div>

      </li>
    </ul>
  </div>
</div><!--full width banner-->