<div class="divide60"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="center-heading">
          <h2><strong>What</strong> is this site?</h2>
          <span class="center-line"></span>
          <p class="sub-text margin40">
              This is a thinking site. It captures my research, insights, and connections related to the topic of the Internet of Everything and acts as a platform to synthesize ideas. </p>
      </div>
    </div>

</div><!--center heading end-->
<div class="divide50"></div>
	<div class="row">
    <div class="col-md-3 col-sm-6 margin30">
      <div class="colored-boxed green">
          <i class="fa fa-cogs"></i>
          <h3>Resources</h3>
          <span class="center-line"></span>
          <p>
              I track thought leaders, web resources, concepts, and interesting projects from around the world here. 
          </p>
      </div>
    </div><!--colored boxed col end-->
    <div class="col-md-3 col-sm-6 margin30">
      <div class="colored-boxed dark">
          <i class="fa fa-tablet"></i>
          <h3>Idea Nodes</h3>
          <span class="center-line"></span>
          <p>
              Nodes are ways I make connections and synthesize resources and ideas. 
          </p>
      </div>
    </div><!--colored boxed col end-->
    <div class="col-md-3 col-sm-6 margin30">
      <div class="colored-boxed blue">
          <i class="fa fa-heart"></i>
          <h3>My Projects</h3>
          <span class="center-line"></span>
          <p>
              I have several on-going projects to help me further explore this topic. I'll be writing about my experiences here. 
          </p>
      </div>
    </div><!--colored boxed col end-->
    <div class="col-md-3 col-sm-6 margin30">
      <div class="colored-boxed red">
          <i class="fa fa-sliders"></i>
          <h3>Business Model Canvas</h3>
          <span class="center-line"></span>
          <p>
              I plan to use everything that I'm collecting here to create Business Model Canvas iterations. 
          </p>
      </div>
    </div><!--colored boxed col end-->
  </div>
</div><!--services container-->
