<div class="divide40"></div>
<div class="our-team-v-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading">
            <h2>Assan <strong>Team</strong></h2>
            <span class="center-line"></span>
        </div>
      </div>                   
    </div>
    <div class="row">
      <div class="col-sm-3 text-center">
        <div class="person-v2">
          <img src="img/team-5.jpg" class="img-responsive" alt="">
          <div class="person-desc-v2">
            <h3>Steve Smith</h3>
            <em>Creative Designer</em>
            <ul class="list-inline top-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
            </ul>
          </div>
        </div>
      </div><!--person col end-->
      <div class="col-sm-3 text-center">
        <div class="person-v2">
          <img src="img/team-6.jpg" class="img-responsive" alt="">
          <div class="person-desc-v2">
            <h3>Steve Smith</h3>
            <em>Creative Designer</em>
            <ul class="list-inline top-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
            </ul>
          </div>
        </div>
      </div><!--person col end-->
      <div class="col-sm-3 text-center">
        <div class="person-v2">
          <img src="img/team-7.jpg" class="img-responsive" alt="">
          <div class="person-desc-v2">
              <h3>Steve Smith</h3>
              <em>Creative Designer</em>
              <ul class="list-inline top-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
              </ul>
          </div>
        </div>
      </div><!--person col end-->
      <div class="col-sm-3 text-center">
        <div class="person-v2">
          <img src="img/team-8.jpg" class="img-responsive" alt="">
          <div class="person-desc-v2">
              <h3>Steve Smith</h3>
              <em>Creative Designer</em>
              <ul class="list-inline top-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
              </ul>
          </div>
        </div>
      </div><!--person col end-->
    </div>
  </div>
</div><!--our team v-2-->