<div class="top-bar-dark">            
  <div class="container">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <ul class="list-inline socials-simple">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-8 text-right">
          <ul class="list-inline top-dark-right">                      
              <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> Support@mail.com</li>
              <li class="hidden-sm hidden-xs"><i class="fa fa-phone"></i> +01 1800 453 7678</li>
              <li><a href="shop-login.html"><i class="fa fa-lock"></i> Login</a></li>
              <li><a href="shop-register.html"><i class="fa fa-user"></i> Sign Up</a></li>
              <li><a class="topbar-icons" href="#"><span><i class="fa fa-search top-search"></i></span></a></li>
          </ul>
           <div class="search">
            <form role="form">
                <input type="text" class="form-control" autocomplete="off" placeholder="Write something and press enter">
                <span class="search-close"><i class="fa fa-times"></i></span>
            </form>
          </div>

        </div>
    </div>
  </div>
</div><!--top bar end hidden in small devices-->