<div class="divide50"></div>
<div class="wide-img-showcase">

  <div class="row margin-0 wide-img-showcase-row">
    <div class="col-sm-6 no-padding  img-2 ">
      <div class="no-padding-inner ">
          <div>&nbsp;</div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-6 no-padding gray">
      <div class="no-padding-inner gray">
        <h3 class="wow animated fadeInDownfadeInRight">Core features of <span class="colored-text">assan</span></h3>
        <div class="services-box margin30 wow animated fadeInRight">
          <div class="services-box-icon">
              <i class="fa fa-tablet"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>Fully Responsive</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
        </div><!--service box-->
        <div class="services-box margin30 wow animated fadeInRight">
          <div class="services-box-icon">
              <i class="fa fa-twitter"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>bootstrap 3</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
        </div><!--service box-->

        <div class="services-box margin30 wow animated fadeInRight">
          <div class="services-box-icon">
              <i class="fa fa-code"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>80+ valid HTML5 Pages and much more...</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
          </div>
          <div class="divide30"></div>
          <p><a href="#" class="btn btn-theme-dark btn-lg">Purchase Now</a></p>
        </div><!--service box-->

      </div>
    </div>
  </div>
</div><!--wide image showcase end-->